{% extends 'base.html' %}
{% block content %}
    <h1 class="display-5 mb-5">Выберите блюдо из категории</h1>
    <div class="container-fluid mt-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card text-center shadow-sm rounded">
                        <div class="card-body p-0">
                            <a href="{% url 'menu' %}" class="btn btn-inline-danger p-2 w-100 h-100"><b
                                    class="shadow-lg">Назад</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for dish in dishes %}
        <div class="container-fluid mt-2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card text-center shadow-sm rounded">
                            <div class="card-body p-0">
                                <a href="{% url 'dish' dish.id %}" class="btn btn-primary p-2 w-100 h-100"><b
                                        class="shadow-lg">{{ dish.dish_name }}</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
